<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Need)</span></div>

## 1 Some Python Basics

### 1.1 Functions

In [1]:
print ("hello world")

hello world

In [2]:
print ("lmao xd i love 2273")

lmao xd i love 2273

In [3]:
print ("ok not rly tbh it's aight")

ok not rly tbh it's aight

### 1.2 Python is interpreted

In [4]:
print('Hello World')
print('Hello World again')

Hello World
Hello World again

### 1.3 Python is sensitive.

In [5]:

print('Hello World')      # This WILL work
Print('Hello World')      # This will NOT work

Hello World

NameError: name 'Print' is not defined

### 1.4 Comments

In [6]:
print ("it's too early for this") #yeah i think it's too early for this

it's too early for this

In [7]:
print ("oops will i get marks deducted for typing random stuff") #doing random stuff

oops will i get marks deducted for typing random stuff

### 1.5 = is not the same as ==

In [3]:
#working code 
#checking name 
name = input("what is your name")

if name == "batman":
    print("nice")
else:
    print("meh")

what is your namebatman
nice

In [ ]:
#errr i forgot to define x or smth 
input ("what is your name")
x = name 

if x == batman:
    print ("nice")
else:
    print ("meh")

### 1.6 Use if to make decisions

In [13]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
else:
    print('Hello World!')

Hello Hero | Batman!

### 1.7 Indentations (spaces) are sooo IMPORTANT!

In [14]:
x = 10
print(x)

10

### 1.8 ‘age’ is English, age is a variable.

In [4]:
print(age)       # Print the value of the variable age
print("age")     # Print the English word 'age'

NameError: name 'age' is not defined

In [21]:
age = input("what is ur age")
print (age) 
print ("?")   # Print the value of the variable age
print("wow that's p old")     # Print the English word 'age'

what is ur age100
100
?
wow that's p old

In [26]:
#trying to add a question makr behind the returned age
#i remember there being an f function to format but i forgot how to use it 
age = input("what is ur age")
print (f[age:?]) # Print the value of the variable age
print("wow that's p old")     # Print the English word 'age'

SyntaxError: invalid syntax (3561909193.py, line 2)

### 1.9 Escape sequences

In [ ]:
print('You\'re twenty years old.')

In [ ]:
print('A\\B\\C')

In [ ]:
print('A\nB\nC')

In [ ]:
print('A\tB\tC')

In [29]:
#different machines have different standardisations for spaces and punctuation
#trying to combine multiple quotation mark escape sequences
print('You\'re 20 years old which really isn\'t very old.')

You're 20 years old which really isn't very old.

### 1.10 Brackets

In [30]:

print('Hello!')             # In functions

Hello!

In [31]:
(1+2)**4 # For math

81

In [34]:
py_list = [1, 2, 3, 4, 5]   # A 1D list

py_list_2 = [[1, "A"],      # A 2D list
             [2, "B"],
             [3, "C"],
             [4, "D"],
             [5, "E"]]

In [35]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
print (age)
#wait what how did i get 100

100

In [36]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
print personal_info['Age']


#forgot the parentheses

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2164230490.py, line 8)

In [37]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
print(personal_info['Age'])

55

## 2 Giving Python superpowers

### 2.1 Packages

In [38]:
import math 

import numpy as np

#alias for numpy is np

### 2.2 The dot (.)

In [39]:
math.sqrt(9)

3.0

In [40]:
np.sqrt(25)

5.0

In [42]:
np.sqrt(81)
math.sqrt(121)

11.0

In [43]:
math.sqrt(121)
np.sqrt(81)

9.0

In [44]:
#trying to print both 
#jupyter only gives the most recent output 
print(math.sqrt(121))
print(np.sqrt(81))

11.0
9.0

## Exercise 1 :  Total recall?

as
if 
print 
lists 
arrays 
dictionaries 
escape sequences
import packages
assignment 
dot functions

_comments
assignment
indentations 
brackets_

## Exercise 2 :  Debug me

In [30]:
#I know this is not the pythagorean 3,4,5 but I think this gives more flexbility
x = float(input("what would you like x to be"))
y = float(input("what would you like y to be"))
z = math.sqrt(x**2 + y**2)
print("the pythagorean triple is...")
print (x)
print (y)
print ("and")
print (z)

what would you like x to be3
what would you like y to be4
the pythagorean triple is...
3.0
4.0
and...
5.0

In [31]:
#adding on to the one above by limiting the z output to 4 decimal places with the f string 
#forgot how to implement f string 
x = float(input("what would you like x to be"))
y = float(input("what would you like y to be"))
z = math.sqrt(x**2 + y**2)
print("the pythagorean triple is...")
print (x)
print (y)
print ("and")
print (f{z;.4f})

SyntaxError: invalid decimal literal (98568595.py, line 10)

In [32]:
#trying to key in the requested 3,4,5 in one straight row but having issues 
#trying to use the f string to solve it but not seeming to get it 
import math
x = 3
y = 4
z = math.sqrt(x**2 + y**2)
print ("the pythagorean triple is" int(x,y,z))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (148093422.py, line 7)

## Exercise 3 :  In your own words

| #   |  Term   |    Description |
| :---: | :-- | :--- |
| 1   | Function  | A specific and unique term the user creates to reference later on in the code  |
| 2   | Arguments  |The input into a function |
| 3   | Comments   |Notes to the user or others using the code so the function of each block of code is clearly indicated  |
| 4   | Indentations  | Spacings for the program to run commands in the proper sequence  |
| 5   |Packages   |Prepared programs which can be imported into your code to introduce new commands and simplify the task  |
| 6   | .  |Dots are used to add specifications at the end of a line of code to get a more exact output  |

## Exercise 4 :  More than one way to divide

In [ ]:
5/2           # What do I do?

In [33]:
5//2          # What do I do?

2

In [ ]:
5%2           # What do I do?

| Operator   |  Name and use   | 
| :---: | :-- | 
|/   | Division: standard mathematical operator  |  
| //  |Floor division: returns the largest possible integer    |  
|  % | Modulus: returns the remainder after division   |