<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

## 1 for

### 1.1 for with a list

In [4]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for name in real_names:
    print(f"{name} is a Marvel superhero!")
    
#everything in the list gets assigned as name 
#wait so if i call name in a following line what gets called 
#do i need to call the index instead

if name == Tony Stark:
    print("dies")

SyntaxError: invalid syntax (353921171.py, line 10)

### 1.2 for with enumerate

In [5]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for i, name in enumerate(real_names):
    print(f'{i}: {name} is a Marvel superhero!')

#i is just the initial numbering index of a term or smth?
#similar to how in vectors they have ijk to denote the order of the coordinates

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

### 1.3 for with range

In [6]:
for i in range(5):
    print(i)
    
#wait what i dont even have a list or array tho 
#the system is like blind copying the a range of 5

0
1
2
3
4

In [11]:
for i in range (50,100,8):
    print(i)

50
58
66
74
82
90
98

In [13]:
#wait what if used smth like j or k 
#what is i even 
for j in range (50,100,8):
    print(j)

    
#wait what is it doesnt matter what alphabet i use

50
58
66
74
82
90
98

In [3]:
#lets trying implementing this to an existing list 
#does it read like an index

super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

#ok lets combine them first coz each list is sorta short

total = super_names + real_names

for i in range (6):
    print (i)
    
#what that sucks
#thought it could reference the index

0
1
2
3
4
5

In [5]:
#switch it a lil

super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

#combining lists

total = super_names + real_names

for i, name in enumerate(total):
    print(f'{i}: {name}')

0: Black Widow
1: Iron Man
2: Doctor Strange
3: Natasha Romanoff
4: Tony Stark
5: Stephen Strange

In [7]:
#switch it a lil

super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

#combining lists

total = super_names + real_names

print(f'{name}')

#wait what why does it print the last term
#might need a lil help for this one

Stephen Strange

## 2 while

## Exercise 1 :  Make me a list

In [14]:
#wait 0 is an integer? lmao oops 
#anyway 

#lets create my own list
ten_list = (0,1,2,3,4,5,6,7,8,9)

for number in range(10):
    print(number**2)
    
#right numerical output but this isnt rly a list right

0
1
4
9
16
25
36
49
64
81

In [1]:
#errr lets convert to numpy array coz techncially lists cant use exponential 
#just checking

ten_list = (0,1,2,3,4,5,6,7,8,9)

import numpy as np 

numpy_ten=np.array(ten_list)

ten_square_list = numpy_ten**2

print(ten_square_list.tolist())

#sorta cheating coz i googled the tolist thing
#but aye i got it

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#trying to use the stuff taught in loops rather than just spam array 
#i think i should create my own list 
#then use the for command or smth
#but i thought list u cant apply square
#maybe .pow()

import math 

ten_list = (0,1,2,3,4,5,6,7,8,9)

for index in range (0,9,1):
    print(index**2)
    
#wait i dont get why it doesnt replicate as  list if my initial dataset is a list

0
1
4
9
16
25
36
49
64

## Exercise 2 :  Make me an odd list

In [ ]:
#errr lets convert to numpy array coz techncially lists cant use exponential 

ten_list = (0,1,2,3,4,5,6,7,8,9)

import numpy as np 

numpy_ten=np.array(ten_list)

if (numpy_ten.all() + 1) % 2 == 0:
    print(ten_list)

In [4]:
ten_list = []

for number in range(1,10,2):
    ten_list.append(number**2)
    
print(ten_list)

[1, 9, 25, 49, 81]

## Exercise 3 :  Make me another odd list

In [18]:
number = 1
num_list = []

while number < 10:
    num_list.append(number**2)
    number += 2

print(num_list)

[1, 9, 25, 49, 81]

In [9]:
num = [1]

import math 

while num[-1] <= 7**2:
    num.append((math.sqrt(num[-1]) + 2)**2)

print(num)

[1, 9.0, 25.0, 49.0, 81.0]